{{#each this}}
<h3 id="{{this.hash}}">
  {{this.author}}:
  <em>{{this.title}}</em>
</h3>
<div class="row">
  <div class="col-md-12">
    <span class="pull-right">
      {{#if this.quotes}}
      <a href="javascript:void(0)"
         onclick="showModal('{{ escape this.title}}: Buchzitate',
                  finished_yaml, {{@index}}, 'quotes')">
        Buchzitate
      </a>
        {{#if this.notes}}
            &bull;
        {{/if}}
      {{/if}}
      {{#if this.notes}}
      <a href="javascript:void(0)"
         onclick="showModal('{{ escape this.title}}: Lesenhinweise',
                  finished_yaml, {{@index}}, 'notes')">
        Lesehinweise
      </a>
      {{/if}}
    </span>
  </div>
</div>
<hr>
{{/each}}
